<div class="container my-4">
  <div class="d-flex justify-content-center">
    <div class="card shadow-sm w-75">
      <div class="card-body p-5">
        <div class="mb-4" style="width: 100px;">
          <img src="images/logo-tolesco-developer-light.png" class="img-fluid" alt="Ruby on Rails Developer Logo">
        </div>
        <div class="row mb-4">
          <div class="col-7">
            <h1>The <span class="text-danger">Ruby</span><br>experience you<br>really want</h1>
            <p class="mb-2">
              Hi there! I'm Francisco Rodriguez (known as Tolesco), and I'm a Ruby Developer
              with +5 years of experience with Ruby on Rails.
            </p>
            <p>I love to work across the entire product development process to create simple and powerful solutions that people can use in their daily life.</p>
            <h4>Let's chat about your new project</h4>
            <a href="mailto:tolesco@gmail.com" class="btn btn-danger"><i class="bi bi-chat-left-dots-fill"></i> Ping me</a>
            <a href="#">Download CV</a>
          </div>
          <div class="col-5">
            <img src="images/ruby-dev-mexico.jpg" class="img-fluid" alt="Ruby on Rails Developer Mexico">
            <p>Currently working as a Software Engineer in <a href="https://www.michelada.io/" target="_blank">michelada.io</a></p>
          </div>
        </div>
        <h4 class="text-center opacity-50">Services</h4>
        <hr>
        <div class="row">
          <div class="col">
            <h5>UX & Rapid Prototypes</h5>
            <p>I'll help you transform an idea into an interactive demo for rapid testing and customer preview.</p>
          </div>
          <div class="col">
            <h5>Ruby on Rails Dev</h5>
            <p>No introduction is needed. Ruby ecosystem offers a great stack of proven and mature technologies to achieve the best of your product.</p>
          </div>
          <div class="col">
            <h5>Edu & Mentoring</h5>
            <p>Want a boost in your career? Want to learn Ruby but don't know where to start with? Ping me! I'll be more than happy to help you.</p>
          </div>
        </div>
      </div>
      <div class="card-footer text-white" style="background-color: #d6272e;">
        <div class="d-flex justify-content-center">
          <small class="">Building web.apps with love 🚀 from Michoacan, Mexico</small>
          <a href="https://www.linkedin.com/in/tolesco" target="_blank" class="mx-2 text-white"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/tolesco" target="_blank" class="mx-2 text-white"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
